.container {
  display: block;
  justify-content: space-between;
  background: #f3f3f3;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}
.contact-us {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 532px;
  gap: 40px;
  padding: 0px, 65px, 0px, 65px;
}

.contact-us-text {
  margin-bottom: 20px;
}
.contact-us-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.form:focus-within {
  border-color: #2196f3;
}

.form-label:focus-within {
  color: #2196f3;
}

.overlay-container {
  border-radius: 50px;
  width: 580px;
  height: 556px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay-cont img {
  max-width: 100%;
  max-height: 100%;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.view-catalog-button {
  padding: 10px 20px;
  background-color: #3350e9;
  color: #fff;
  border: none;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-catalog-button:hover {
  background-color: #1f3cd4;
}
